/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
hr {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  border: none;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

main,
img,
button,
a.button,
input,
textarea {
  border-radius: 4px;
}

hr {
  border-radius: 2px;
}

a {
  color: inherit;
}

* {
  font-family: "Lato", sans-serif;
  font-size: 15px;
  line-height: normal;
}

p {
  line-height: 2;
  margin-bottom: 16px;
}

p.meta {
  line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 32px;
  margin-bottom: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.posts > p {
  font-family: "Nixie One", cursive;
}

h1 {
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 48px;
}

h2,
.posts > p {
  font-size: 23px;
}

h3 {
  font-size: 18px;
}

body {
  max-width: 980px;
  margin: 32px auto;
  padding: 8px;
}

main {
  padding: 32px;
  border: 1px solid;
}
@media (min-width: 767px) {
  main {
    padding: 48px;
  }
}

.flex {
  display: flex;
  flex-direction: column;
  gap: 48px;
}
@media (min-width: 767px) {
  .flex {
    flex-direction: row;
  }
}
.flex.flex-col {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media (min-width: 767px) {
  .flex.col-3 {
    width: 33.3333333333%;
  }
}

.posts p,
.posts h2,
.posts h3 {
  margin: 0;
}
.posts article {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
@media (min-width: 767px) {
  .posts article {
    flex-direction: row;
  }
}
.posts article img {
  align-self: flex-start;
  width: 192px;
  height: 144px;
  -o-object-fit: cover;
     object-fit: cover;
}
.posts article div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

section.image img {
  align-self: flex-end;
  margin-top: -96px;
}
@media (min-width: 767px) {
  section.image img {
    align-self: center;
    width: 283px;
    height: 676px;
    margin: 64px 16px 64px 0;
  }
}

nav {
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
}
nav ul {
  display: flex;
  flex-direction: column;
  gap: 0 72px;
}
@media (min-width: 767px) {
  nav ul {
    flex-direction: row;
  }
}
nav ul li {
  padding: 8px;
}

footer {
  justify-content: space-between;
  text-align: center;
  margin-top: 32px;
}
@media (min-width: 767px) {
  footer {
    text-align: left;
  }
}
footer div.info {
  flex-direction: column;
  gap: 16px;
  font-size: 12px;
}
footer div.info * {
  margin: 0;
  line-height: normal;
}
footer div.info span {
  display: none;
}
footer div.info a {
  display: block;
}
footer div.info a,
footer div.info span {
  font-size: 26px;
  font-weight: bold;
}
@media (min-width: 767px) {
  footer div.info a,
footer div.info span {
    display: inline;
  }
}
footer div.social ul {
  flex-direction: row;
  justify-content: center;
  gap: 16px;
}
footer div.social ul li,
footer div.social ul svg {
  width: 32px;
  height: 32px;
}

section.sidebar {
  gap: 96px;
}

aside.posts.flex-col {
  gap: 48px;
}
aside.posts > p {
  line-height: 35px;
}
aside.posts article {
  flex-direction: column;
  gap: 16px;
}

body > header {
  align-items: center;
}
body > header.flex.flex-col {
  gap: 32px;
}

hr {
  height: 8px;
  width: 144px;
  margin-left: 1px;
  margin-bottom: 24px;
}

button,
a.button,
input[type=submit] {
  display: inline-block;
  padding: 16px 20px;
  border: 2px solid;
  cursor: pointer;
}

@media (min-width: 767px) {
  section.welcome {
    padding: 0 48px;
  }
}
section.welcome h1 {
  font-size: 48px;
  margin-bottom: 32px;
  color: inherit;
}
section.welcome div {
  align-self: center;
}

section.contact p,
section.contact h2 {
  margin: 0;
}
section.contact div.info.flex-col {
  gap: 48px;
}
section.contact div.info div p {
  line-height: normal;
}
section.contact div.form {
  flex: auto;
}
section.contact div.form form div {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
@media (min-width: 767px) {
  section.contact div.form form input[type=submit] {
    align-self: flex-start;
  }
}
section.contact div.form form input:not([type=submit]),
section.contact div.form form textarea {
  padding: 16px;
  border: none;
}
section.contact div.form form input:not([type=submit]):focus,
section.contact div.form form textarea:focus {
  background-color: #ebf9ef;
  outline: 2px solid #439f31;
}
section.contact div.form form textarea {
  resize: vertical;
  min-height: 18px;
  max-height: 512px;
}

section.posts {
  margin-top: 48px;
}
section.posts.flex-col {
  gap: 96px;
}
section.posts div.pagination {
  justify-content: center;
  gap: 8px;
}
section.posts div.pagination button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 40px;
  height: 40px;
}

.the_post header {
  margin-bottom: 32px;
}
.the_post header h1,
.the_post header p {
  margin: 0;
}
.the_post header p {
  margin-bottom: 16px;
}
@media (min-width: 767px) {
  .the_post header p {
    margin-bottom: 32px;
  }
}
.the_post header img {
  width: 100%;
  max-height: 384px;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  color: #5e616b;
  background-color: rgba(231, 216, 201, 0.2);
}

main {
  background-color: white;
  border-color: #c9c9c9;
}

footer svg {
  fill: #ff8086;
}

h1,
.active,
form span,
nav a:hover {
  color: #ff8086;
}

button {
  border-color: #5e616b;
  background-color: transparent;
}

button.active,
a.button,
input[type=submit] {
  border-color: #ff8086;
  background-color: transparent;
}
button.active:hover,
a.button:hover,
input[type=submit]:hover {
  color: white;
}

a.button,
input[type=submit] {
  color: inherit;
}

hr,
button:hover,
a.button:hover,
input[type=submit]:hover {
  color: white;
  background-color: #ff8086;
  border-color: #ff8086;
}

input:not([type=submit]),
textarea {
  background-color: #d1d3d4;
}