/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
hr {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  border: none;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: "Lato", sans-serif;
  font-size: 15px;
}

p {
  line-height: 2;
  margin-bottom: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 32px;
  margin-bottom: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6,
section.contact div.info p {
  font-family: "Nixie One", cursive;
}

h1 {
  font-size: 35px;
  margin-top: 0;
  margin-bottom: 48px;
}

h2 {
  font-size: 23px;
}

h3 {
  font-size: 18px;
}

body {
  max-width: 980px;
  margin: 48px auto;
}

main {
  padding: 48px;
  border: 1px solid;
}

.flex {
  display: flex;
  gap: 48px;
}

.col-3 {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 33.3333333333%;
}

nav {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 18px;
}
nav ul {
  display: flex;
  gap: 72px;
}
nav ul li {
  padding: 8px;
}
nav ul li a:not(.active) {
  color: inherit;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}
footer a {
  color: inherit;
}
footer div.info p.contact,
footer div.info a {
  font-size: 26px;
  font-weight: bold;
}
footer div.info p {
  font-size: 12px;
  line-height: normal;
}
footer div.social ul {
  display: flex;
  gap: 16px;
}
footer div.social ul li, footer div.social ul svg {
  width: 32px;
  height: 32px;
}

header {
  display: flex;
  flex-direction: column;
  gap: 41px;
  margin-bottom: 4px;
}
header a.logo {
  margin: auto;
}
header a.logo img {
  max-height: 57px;
}

hr {
  height: 8px;
  width: 144px;
  margin-left: 1px;
  margin-bottom: 24px;
  background-color: #ff8086;
}

a.button, input[type=submit] {
  display: inline-block;
  padding: 16px 20px;
  border: 2px solid;
}

section.welcome {
  justify-content: center;
}
section.welcome h1 {
  font-size: 48px;
  margin-bottom: 24px;
  color: inherit;
}
section.welcome div {
  align-self: center;
  margin-left: 48px;
}
section.welcome img {
  padding: 72px 0;
  margin-right: 48px;
}

section.about {
  justify-content: center;
}
section.about img {
  padding: 72px 0;
  margin-right: 48px;
}

section.contact div.info p {
  margin: 0;
}
section.contact form {
  display: flex;
  flex-direction: column;
  flex: auto;
  gap: 8px;
  margin-right: 48px;
}
section.contact form label {
  display: block;
}
section.contact form label:not(:first-child) {
  margin-top: 8px;
}
section.contact form input[type=submit] {
  display: block;
  align-self: flex-start;
  margin-top: 24px;
}
section.contact form input:not([type=submit]),
section.contact form textarea {
  border: none;
  padding: 16px;
  background-color: #d1d3d4;
  border-radius: 0 !important;
}
section.contact form input:not([type=submit]):focus,
section.contact form textarea:focus {
  background-color: #ebf9ef;
  outline: 1px solid #439f31;
}

body {
  color: #5e616b;
  background-color: rgba(231, 216, 201, 0.2);
}

main {
  background-color: white;
  border-color: #c9c9c9;
}

footer svg {
  fill: #5e616b;
}

h1, a {
  color: #ff8086;
}

a.button, input[type=submit] {
  color: inherit;
  border-color: #ff8086;
  background-color: inherit;
}
a.button:hover, input[type=submit]:hover {
  color: white;
  background-color: #ff8086;
  cursor: pointer;
}

input:not([type=submit]), textarea {
  background-color: #d1d3d4;
}