* {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}

p {
    line-height: 2;
    margin-bottom: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 32px;
    margin-bottom: 8px;
}

h1,
h2,
h3,
h4,
h5,
h6,
section.contact div.info p {
    font-family: 'Nixie One', cursive;
}

h1 {
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 48px;
}

h2 {
    font-size: 23px;
}

h3 {
    font-size: 18px;
}