* {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    line-height: normal;
}

p {
    line-height: 2;
    margin-bottom: 16px;
}

p.meta {
    line-height: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 32px;
    margin-bottom: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.posts > p {
    font-family: 'Nixie One', cursive;
}

h1 {
    font-size: 35px;
    margin-top: 0;
    margin-bottom: 48px;
}

h2, .posts > p {
    font-size: 23px;
}

h3 {
    font-size: 18px;
}