footer {
    justify-content: space-between;
    margin-top: 48px;
    text-align: center;

    @include respond-to(small) {
        text-align: left;
    }

    a {
        color: inherit;
    }

    div.info {
        flex-direction: column;
        gap: 16px;
        font-size: 12px;

        * {
            margin: 0;
            line-height: normal;
        }

        span {
            display: none;
        }

        a {
            display: block;
        }

        a,
        span {
            font-size: 26px;
            font-weight: bold;

            @include respond-to(small) {
                display: inline;
            }
        }
    }

    div.social {
        ul {
            flex-direction: row;
            justify-content: center;
            gap: 16px;

            @include respond-to(small) {
                justify-content: inherit;
            }

            li,
            svg {
                width: 32px;
                height: 32px;
            }
        }
    }
}