footer {
    display: flex;
    justify-content: space-between;
    margin-top: 48px;

    a {
        color: inherit;
    }

    div.info {
        p.contact,
        a {
            font-size: 26px;
            font-weight: bold;
        }

        p {
            font-size: 12px;
            line-height: normal;
        }
    }

    div.social {
        ul {
            display: flex;
            gap: 16px;

            li, svg {
                width: 32px;
                height: 32px;
            }
        }
    }
}