header {
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin-top: 32px;

    img {
        margin: auto;
    }

    nav {
        justify-content: center;
        text-transform: uppercase;

        ul {
            gap: 32px;

            li {
                padding: 16px;
            }
        }
    }
}