nav {
    display: flex;
    justify-content: center;
    text-transform: uppercase;
    font-size: 18px;

    ul {
        display: flex;
        flex-direction: column;
        gap: 0 72px;
        text-align: center;

        @include respond-to(small) {
            flex-direction: row;
        }

        li {
            padding: 8px;

            a:not(.active) {
                color: inherit;
            }
        }
    }
}