nav {
    text-transform: uppercase;
    font-size: 18px;
    text-align: center;

    ul {
        display: flex;
        flex-direction: column;
        gap: 0 72px;

        @include respond-to(small) {
            flex-direction: row;
        }

        li {
            padding: 8px;
        }
    }
}