section.sidebar {
    gap: 64px;
}

aside.posts {
    width: 192px;

    &.flex-col {
        gap: 48px;
    }

    &>p {
        line-height: 35px;
    }

    article {
        flex-direction: column;
        gap: 16px;
    }
}