section.posts {
    margin-top: 48px;
}

.the_post {
    header {
        margin-bottom: 32px;

        h1,
        p {
            margin: 0;
        }

        p {
            margin-bottom: 16px;

            @include respond-to(small) {
                margin-bottom: 32px;
            }
        }

        img {
            width: 100%;
            max-height: 384px;
            object-fit: cover;
        }
    }
}