section.contact {
    p,
    h2 {
        margin: 0;
    }

    div.info {
        &.flex-col {
            gap: 48px;
        }

        div p {
            line-height: normal;
        }
    }

    div.form {
        flex: auto;

        form {
            div {
                display: flex;
                flex-direction: column;
                gap: 8px;
            }

            input[type="submit"] {
                @include respond-to(small) {
                    align-self: flex-start;
                }
            }

            input:not([type="submit"]),
            textarea {
                padding: 16px;
                border: none;

                &:focus {
                    background-color: #ebf9ef;
                    outline: 2px solid #439f31;
                }
            }

            textarea {
                resize: vertical;
                min-height: 18px;
                max-height: 512px;
            }
        }
    }
}