section.contact {
    div.info {
        h2 {
            margin-top: 0;
        }

        a {
            color: inherit;
        }

        div p {
            line-height: normal;
        }
    }

    div.form {
        flex: auto;

        h2 {
            margin-top: 0;
        }

        form {
            display: flex;
            flex-direction: column;
            gap: 8px;

            label {
                display: block;

                &:not(:first-child) {
                    margin-top: 8px;
                }

            }

            input[type="submit"] {
                display: block;
                margin-top: 24px;

                @include respond-to(small) {
                    align-self: flex-start;
                }
            }

            input:not([type="submit"]),
            textarea {
                border: none;
                padding: 16px;
                background-color: $lightgray2;

                &:focus {
                    background-color: #ebf9ef;
                    outline: 1px solid #439f31;
                }
            }
        }
    }
}