section.contact {
    div.info {
        p {
            margin: 0;
        }
    }

    form {
        display: flex;
        flex-direction: column;
        flex: auto;
        gap: 8px;
        margin-right: 48px;

        label {
            display: block;

            &:not(:first-child) {
                margin-top: 8px;
            }

        }

        input[type="submit"] {
            display: block;
            align-self: flex-start;
            margin-top: 24px;
        }

        input:not([type="submit"]),
        textarea {
            border: none;
            padding: 16px;
            background-color: $lightgray2;
            border-radius: 0 !important;

            &:focus {
                background-color: #ebf9ef;
                outline: 1px solid #439f31;
            }
        }
    }
}