section.welcome {
    @include respond-to(small) {
        padding: 0 48px;
    }

    h1 {
        font-size: 48px;
        margin-bottom: 32px;
        color: inherit;
    }

    div {
        align-self: center;
    }
}