section.welcome {
    justify-content: center;

    h1 {
        font-size: 48px;
        margin-bottom: 24px;
        color: inherit;
    }

    div {
        align-self: center;
        margin-left: 48px;
    }

    img {
        padding: 72px 0;
        margin-right: 48px; 
    }
}