section.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    div {
        margin-left: 48px;
    }

    img {
        padding: 72px 0;
        margin-right: 48px; 
    }
}