body {
    color: $darkgray;
    background-color: $beige;
}

main {
    background-color: white;
    border-color: $lightgray;
}

footer {
    svg {
        fill: $pink;
    }
}

h1,
a.active, form span {
    color: $pink;
}

a.button,
input[type="submit"] {
    color: inherit;
    border-color: $pink;
    background-color: inherit;

    &:hover {
        color: white;
    }
}

hr,
a.button:hover,
input[type="submit"]:hover {
    background-color: $pink;
}

input:not([type="submit"]),
textarea {
    background-color: $lightgray2;
}