body {
    color: $darkgray;
    background-color: $beige;
}

main {
    background-color: white;
    border-color: $lightgray;
}

footer {
    svg {
        fill: $darkgray;
    }    
}

a {
    color: $pink;
}

a.button {
    color: inherit;
    border-color: $pink;

    &:hover {
        color: white;
        background-color: $pink;
    }
}