body {
    color: $darkgray;
    background-color: $beige;
}

main {
    background-color: white;
    border-color: $lightgray;
}

footer {
    svg {
        fill: $darkgray;
    }    
}

h1, a {
    color: $pink;
}

a.button, input[type="submit"] {
    color: inherit;
    border-color: $pink;
    background-color: inherit;

    &:hover {
        color: white;
        background-color: $pink;
        cursor: pointer;
    }
}

input:not([type="submit"]), textarea {
    background-color: $lightgray2;
}

form span {
    color: $pink;
}